@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
  --shadow-custom: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --shadow-custom: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
  }
}

